/* Footer & Disclaimer */
.main-footer {
  background-color: #d8d1db;
  margin-top: 60px;
}

.disclaimer p {
  font-size: 12px !important;
}

.footer-content {
  font-size: 14px !important;
}

.disclaimer p {
  padding: 20px 0;
  margin-bottom: 0;
  font-size: 12px;
  color: #994789;
}

.copyright {
  background-color: #994789;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  font-family: 'Raleway', sans-serif !important;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.privacy-link {
  color: #fff;
  text-decoration: none;
}

.privacy-link:hover {
  text-decoration: underline !important;
  text-decoration-color: #fff;
  color: #fff;
}

.footer-privacy-disclaimer .disclaimer,
.footer-privacy-disclaimer .footer-content {
  padding-right: 43px;
  padding-left: 43px;
}

.footer-privacy-disclaimer .disclaimer p,
.footer-privacy-disclaimer .footer-content {
  font-size: 12.5px;
}

@media (max-width: 768px) {
  .footer-content, .disclaimer {
    padding-right: 15px !important;
    padding-left: 15px !important;
  }
}
@media (max-width: 400px) {
  .disclaimer p,
  .footer-content {
    font-size: 12px;
  }
}

/* 
** her2 COLORS
*/

/* disclaimer */
.footer-her2-disclaimer {
  background-color: #d8d1db;
}

/* copyright */
.footer-her2-copyright {
  background-color: #994789;
  color: #fff;
}

/* 
** roche COLORS
*/

/* disclaimer */
.footer-roche-disclaimer {
  background-color: #fceef1;
  color: #73426a;
}

/* copyright */
.footer-roche-copyright {
  background-color: #faa4b7;
}

/* 
** privacy COLORS
*/

/* disclaimer */
.footer-privacy-disclaimer {
  background-color: #d8d1db;
}

/* copyright */
.footer-privacy-copyright {
  background-color: #994789;
  color: #fff;
}


/* contact */

.contact {
  padding: 6rem;
  min-height: 400px;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "left right right right";
  grid-gap: 10px;
  justify-items: center;
  background: #6ba539;
  color: #fff;
}

.contact h1,
.contact h2 {
  color: #fff;
}

.contact .contact-left {
  grid-area: left;
  width: 100%;
}

.contact .contact-right {
  grid-area: right;
  justify-self: center;
  width: 70%;
}

.contact .contact-form {
  width: 100%;
}

.contact .contact-form div {
  text-align: center;
}

.contact .contact-form input,
.contact .contact-form select,
.contact .contact-form textarea {
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
  padding: 1em 1.5em;
  margin: 0.6rem 0;
}

.contact .contact-form input[type=submit],
.contact .contact-form button[type=submit] {
  width: 250px;
  padding: 1em 1.5em;
  margin: 0.6rem 0;
  border: none;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #1e1e1e;
  color: #fff;
  cursor: pointer;
}


/* footer new */

.footer {
  min-height: 320px;
  padding: 3rem 1rem 1.5rem;
  background: #1e1e1e;
}

.footer-content {
  max-width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr 3fr;
  grid-template-rows: 300px 20px;
  grid-template-areas: 
      "left middle right"
      "bottom bottom auto";
  grid-gap: 20px;
}

.footer .footer-link {
  display: block;
  margin-bottom: 10px;
  font-size: 20px;
  text-decoration: none;
  color: #f0f0f0;
  transition: color 0.3s ease-in-out;
}

.footer .footer-link:hover {
  color: #fff;
}

.footer .footer-disclaimer {
  display: block;
  font-size: 12px;
  text-decoration: none;
  color: #fff;
}

.footer .footer-content .footer-left {
  grid-area: left;
}

.footer .footer-content .footer-middle {
  grid-area: middle;
}

.footer .footer-content .footer-right {
  grid-area: right;
  justify-self: right;
}

.footer .footer-content .footer-bottom {
  grid-area: bottom;
  justify-self: left;
}
